<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenmagic" translate="label" sortOrder="700">
            <label>Magenmagic</label>
        </tab>
        <section id="magenmagic_place_order_checker" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>PlaceOrder Checker</label>
            <tab>magenmagic</tab>
            <resource>Magenmagic_PlaceOrderChecker::magenmagic_place_order_checker</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="log_level" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Log level</label>
                </field>
                <field id="cron_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Cron Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cron_schedule" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cron Schedule</label>
                    <depends>
                        <field id="cron_check">1</field>
                    </depends>
                </field>
                <field id="last_cron_check" translate="label" type="label" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Last Cron Check</label>
                    <frontend_model>Magenmagic\PlaceOrderChecker\Block\System\Config\LastCronCheck</frontend_model>
                </field>
                <field id="check_immediately" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Event Check Immediately</label>
                    <comment>log immediately on event placeOrder</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="last_check" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Last Immediately Check</label>
                    <frontend_model>Magenmagic\PlaceOrderChecker\Block\System\Config\LastCheck</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
