<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mm_health_check>
            <sales>
                <enabled>1</enabled>
                <log_level>ERROR</log_level>
            </sales>
        </mm_health_check>
    </default>
</config>
