.notif-row {
    width: auto;
}

.line-row {
    display: grid;
    gap: 1em;
    grid-template-columns: 0.5fr 2fr 0.1fr;
}

.notif-set {
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
    column-gap: 0.5em;
    margin: auto 0;
}

.notif-set label {
    margin: auto 0;
    font-size: 20px;
    font-weight: 100;
}

.add-notif-block {
    width: 20%;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
}

.notif-settings {
    display: grid;
    gap: 1em;
}

/*.notif-row .line-row .btn.btn-warning {*/
/*    width: 5rem;*/
/*}*/