<?xml version="1.0"?>
<!--
/**
 * @author    MagenMagic Team
 * @copyright Copyright (c) 2020 MagenMagic (https://www.magenmagic.com)
 * @package Magenmagic_CatalogInventory
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magenmagic_CatalogInventory" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Cron"/>
            <module name="Magento_CatalogInventory"/>
        </sequence>
    </module>
</config>
