.message-container {
    background-color: #0f6674;
    height: 50rem;
}

.message-item {
    cursor: pointer;
}

.message-item:hover {
    background-color: #2196f330;
}

.tr-id {
    width: 2.5%;
    text-align: center;
}

.tr-level {
    width: 7.5%;
    text-align: center;
}

.tr-create {
    width: 12%;
    text-align: center;
}

.tr-ip {
    width: 8%;
    text-align: center;
}

.tr-message {
    width: 70%;
    word-break: break-all;
}

.th-message {
    text-align: center;
}

.tr-message-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
 .pagination a {
     cursor: pointer;
 }

 .pagination {
     margin: 0.3em auto;
 }
.button-label {
    font-size: 20px;
    margin-right: 5px;
}

.filtre-button:focus {
    outline: unset!important;
}

.filtre-button:hover {
    outline: unset!important;
}

.filtre-button:active {
    outline: unset!important;
}
.filter-input {
    padding: 6px 2px;
    text-align: right;
}
.graphic-modal-button {
    width: fit-content;
}

.graphic-modal-button button:focus {
    outline: unset!important;
}

.graphic-modal-button button:active {
    outline: unset!important;
}

.graphic-modal-button button.open {
    background-color: black;
    color: white;
}

.graphic-modal {
    position: absolute;
    margin-left: 1rem;
    z-index: 2;
    margin-top: -2rem;
}

.graphic-modal-panel {
    display: block;
    width: fit-content;
    position: relative;
    border: 1px solid black;
    padding: 0.5rem;
    background-color: white;
}

.graphic-modal-panel li {
    list-style-type: none;
    display: grid;
    grid-column-gap: 0.5rem;
    grid-template-columns: 0.2fr 1.2fr 1fr;
}

.graphic-modal-panel li span{
    cursor: pointer;
}

.graphic-modal-panel ul {
    display: grid;
    grid-row-gap: 0.4rem;
    padding: unset;
    margin: unset;
}
.chart-container {
    height: 30rem;
}

.chart-container .graphic {
    width: 100%;
    height: inherit;
}

.graphic .background {
    width: 100%;
    height: inherit;
    border-bottom: 1px solid #000000;
    /*background:*/
    /*        repeating-linear-gradient(*/
    /*                transparent,transparent 20px, yellowgreen 22px*/
    /*        ),*/
    /*        repeating-linear-gradient(*/
    /*                90deg,*/
    /*                transparent,transparent 20px, yellowgreen 22px*/
    /*        );*/
}

.horizontal-scale {
    position: relative;
}

.df {
    z-index: 1;
    position: absolute;
    text-align: center;
}

.df:hover {
    background-color: #d3d3d380;
}

.df:hover::after {
    content: attr(data-title);
    background-color: white;
    bottom: 0;
    font-weight: bold;
    border: 2px solid black;
    position: relative;
    bottom: 1.5em;
    padding: 0.5em;
    position: absolute;
    width: max-content;
    z-index: 1;
}

.scale-line {
    width: 1px;
    background-color: #e3d8d885;
    margin: 0 auto;
    height: inherit;
    z-index: -1;
}

.vertical-scale {
    position: absolute;
}

.vertical-scale-point {
    position: absolute;
    left: -10px;
}

.vertical-scale-point-line {
    height: 1px;
    background-color: #e3d8d885;
    margin: 0 auto;
    position: absolute;
    top: 10px;
}
.point {
    height: 1rem;
    width: 1rem;
    border: 1px solid black;
    position: absolute;
    border-radius: 5px;
    background-color: black;
    z-index: 1;
    cursor: pointer;
}

.point:hover::after {
    content: attr(data-title);
    background-color: white;
    bottom: 0;
    border: 1px solid black;
    position: relative;
    bottom: 1.5em;
    padding: 0.5em;
}

.graphic-line {
    width: 90%;
    position: absolute;
}
.header-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 'title action';
}

.header-container .title{
    grid-area: title;
}

.header-container .title h1{
    margin: unset;
}

.header-container .actions{
    grid-area: action;
    margin: auto 0 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 1rem;
}

.select-range:focus {
    box-shadow: 0 0 0 0.2rem rgb(108 117 125 / 50%);
}
.panel-footer {
    padding: 10px 30px 20px 30px;
}
.pars-row {
    padding: 0.2rem 1.5rem;
}

.pars-row span {
    font-size: large;
    font-weight: 500;
    padding: 0 1rem;
}

.pars-row span:first-child {
    font-weight: bold;
}

.header-title-block {
    display: flex;
    font-weight: bold;
}

.level-code {
    margin-right: auto;
}

.message-creaeted {
    margin-left: auto;
}

.general-setting-table {
    display: grid;
    grid-template-columns: 65% 35%;
}

.selected-settings {
    padding: 0 1em;
}

.selected-settings .row{
    margin: 0.5em 0;
    display: flex;
}

.selected-settings .row select {
    width: 25%;
}

.selected-settings .row .setting-label{
    margin: auto 0 auto auto;
    /*margin-left: 1em;*/
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.notif-row {
    width: fit-content;
}

.line-row {
    display: grid;
    gap: 1em;
    grid-template-columns: 0.5fr 2fr 0.5fr;
}

.notif-set {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: fit-content;
    column-gap: 0.5em;
    margin: auto 0;
}

.notif-set label {
    margin: auto 0;
}

.add-notif-block {
    width: 20%;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
}

.notif-settings {
    display: grid;
    gap: 1em;
}
.users-email {
    width: fit-content;
    margin: 0.5em;
}

.emails-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.users-email .mail{
    margin-right: 1em;
}

.add-email input{
    margin: 0 0.5em;
}

@media screen and (min-width: 480px) {
    .emails-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 995px) {
    .emails-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .emails-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1450px) {
    .emails-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1700px) {
    .emails-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
