<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="mm_po_checker_all_after" instance="Magenmagic\PlaceOrderChecker\Observer\CheckoutSubmitAllAfter" />
    </event>
</config>
