<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenmagic" translate="label" sortOrder="1000">
            <label>Magenmagic</label>
        </tab>
        <section id="mm_health_check" translate="label" sortOrder="92" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>magenmagic</tab>
            <resource>Magenmagic_SalesChecker::config</resource>
            <class>separator-top</class>
            <group id="sales" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sales Check</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>YES to send data into Healthy Service</comment>
                </field>
            </group>
        </section>
    </system>
</config>
