<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mm_health_check>
            <mm_inventory_check>
                <enabled>1</enabled>
                <log_id>INVENTORYCHECK</log_id>
                <status></status>
                <log_level>INVENTORYCHECK</log_level>
            </mm_inventory_check>
        </mm_health_check>
    </default>
</config>

