<?xml version="1.0"?>
<!--
  ~ /*
  ~  * @author MagenMagic Team
  ~  * @copyright Copyright (c) 2021 MagenMagic (https://www.magenmagic.com)
  ~  * @package
  ~  */
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- COMMAND LINE -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="mm_fix_inventory_reservation" xsi:type="object">Magenmagic\InventoryCheck\Console\Command\Start</item>
                <item name="mm_enable_products" xsi:type="object">Magenmagic\InventoryCheck\Console\Command\Products</item>
                <item name="mm_check_products" xsi:type="object">Magenmagic\InventoryCheck\Console\Command\Check</item>
            </argument>
        </arguments>
    </type>
</config>
